/* font-family: 'Abril Fatface', cursive;
font-family: 'STIX Two Math', serif; */
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=STIX+Two+Math&display=swap" rel="stylesheet');
html{
  scroll-behavior: smooth;
}
/* ----====Styling the top part of the page====---- */
.backg{
    background-image: url('../assets/backgrounds/h_img.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    padding-top: 18%;
    font-family: 'Abril Fatface', cursive;
}
/* .backg h1{
    padding: 1rem; */
    /* margin: 1rem; */
}
/* .backg p{
    padding: 1rem;
} */
#logo{
    margin-top: 12px;
    margin-bottom: 24px;
    width: 70px;
    height: 70px;
}
#click{
    padding-top: 22px;
    margin-top: 10px;
    padding-bottom: 30px;
}
/* ---===Mouse Bounce===--- */
#click{
    animation: bounce 3s infinite;
}
@keyframes bounce{
    0%, 20%, 50%, 80%, 100%{
        transform: translateY(0);
    }
    40%{
        transform: translateY(-45px);
    }
    60%{
        transform: translateY(-45px);
    }
}
/* ---===end of backg ===--- */

/* ---===styling about section===--- */
.about{
    text-align: center;
    padding-top: 40px;
    padding-bottom: 30px;
    font-family: 'STIX Two Math', serif;
}
#about{
    font-family: 'Abril Fatface', cursive;
}