/* *{
    border: 1px dashed limegreen;
} */
/* font-family: 'Abril Fatface', cursive;
font-family: 'STIX Two Math', serif; */
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=STIX+Two+Math&display=swap" rel="stylesheet');
html{
  scroll-behavior: smooth;
}
/* ----====Styling the top part of the page====---- */
.backg{
    background-image: url('../assets/backgrounds/h_img.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    padding-top: 18%;
    font-family: 'Abril Fatface', cursive;
}
/* .backg h1{
    padding: 1rem; */
    /* margin: 1rem; */
/* } */
/* .backg p{
    padding: 1rem;
} */
#logo{
    margin-top: 12px;
    margin-bottom: 24px;
    width: 70px;
    height: 70px;
}
#click{
    padding-top: 22px;
    margin-top: 10px;
    padding-bottom: 30px;
}
/* ---===Mouse Bounce===--- */
#click{
    animation: bounce 3s infinite;
}
@keyframes bounce{
    0%, 20%, 50%, 80%, 100%{
        transform: translateY(0);
    }
    40%{
        transform: translateY(-45px);
    }
    60%{
        transform: translateY(-45px);
    }
}
/* ---===end of backg ===--- */

/* ---===styling about section===--- */
.about{
    text-align: center;
    padding-top: 40px;
    padding-bottom: 30px;
    font-family: 'STIX Two Math', serif;
}
#about{
    font-size: 16px;
    font-family: 'Abril Fatface', cursive;
}
/* ----===end of about section===---- */

/*----===Services Section====----  */
.service{
    text-align: center;
    background-image: url("../assets/backgrounds/s_image.jpg");
    color: white;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'STIX Two Math', serif;
    font-size: 17px;
}
#services{
    background-color: rgba(0,0,0,0.4);
    padding-top: 10%;
    padding-bottom: 10%;
}
/* ----====end of service section===--- */

/* ----===What-we-do Section===---- */
.business{
    font-family: 'STIX Two Math', serif;
    text-align: center;
    padding-top: 40px;
}
.business .header{
    padding-bottom: 38px;
}
#prod, #dev, #design{
    display: none;
    font-family: 'STIX Two Math', serif;
    font-size: 18px;
}
#prod .flair, #dev .flair, #design .flair{
    font-size: 24px;
    font-weight: 600;
}
.flair{
    padding: 6px;
}
/* ----====End of business sect===---- */

/* ---==== Portfolio section===---- */
#portf{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 6%;
    margin-right: 10%;
}
.col-md-3 img{
    max-width: 100%;
    max-height: 100%;
    width: 400px;
    margin: 20px;
}
.portf{
    text-align: center;
    padding-top: 40px;
    font-family: 'Abril Fatface', cursive;
}
/* ---====End of Portfolio Section----==== */

/* ---====Contact Section====---- */
.cont{
    background-image: url('../assets/backgrounds/c_image.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}
.cont h1{
    text-align: center;
    margin-top: 30px;
    padding-top: 40px;
    padding-bottom: 20px;
    font-family: 'STIX Two Math', serif;
}
form{
    text-align: center;
    margin: auto;
    width: 60%;
    padding-top: 2%;
}
form input, #comment{
    color: white;
    font-family: 'Times New Roman', Times, serif;
}
    
input[type=submit] {
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#name, #email{
    width: 47%;
    margin-bottom: 1.5%;
    margin-right: 1%;
    background-color: transparent;
    border: 2px solid white;
}

#comment{
    width: 93%;
    margin-left: 2% ;
    background-color: transparent;
    height: 300px;
    border: 2px solid white;
}

::placeholder{
    color: white;
}

.submit{
    background-color: transparent;
    color: white;
    border: 2px solid white;
}

  /* ---====footer===--- */
  footer{
    text-align: center;
    padding-top: 30px;
    font-family: 'Abril Fatface', cursive;
  }
  footer p{
    margin-top: 10px;
  }
   footer img:hover{
    animation: wobble 3s infinite;
}

@keyframes wobble {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(10);
    }
    10% {
      transform: translateY(-10px);
    }
    20% {
      transform: translateY(-10px);
    }
}



  /* ----=====Effects=====----- */
  #overlay,#overlay2,#overlay3,#overlay4,#overlay5,#overlay6,#overlay7,#overlay8{
         display: none;
         color: black;
         width: 100%;
         height: 100%;
         background-color:rgba(255, 255, 255, 0.456);
         position: relative;
         top: 20px;
         left: 35px;
         font-weight: bold; 
         text-align: center;
         font-size: 25px;
         padding-top: 50%;
         font-family: 'Abril Fatface', cursive;
} 

/* ====----Responsiveness=====---- */
@media only screen and (max-width: 755px){
    #on-img1,#on-img2,#on-img3,#on-img4,#on-img5,#on-img6,#on-img7,#on-img8{
        width: 100%;
        height: 100%;
        top: 20px;
        left: 16px;
        padding-top: 20%;
    }
    .col-md-3 img{
        width: 100%px;
        margin: 20px;
    }
    #portf{
        margin-left: 8%;
        margin-right: 16%;
    }
    button{
        margin-left: 2%;
        padding-bottom: 30px;
        margin-bottom: 20px;
    }

}
@media only screen and (max-width: 425px){
    #on-img1,#on-img2,#on-img3,#on-img4,#on-img5,#on-img6,#on-img7,#on-img8{
    width: 100%;
    height: 100%;
    top: 20px;
    left: 16px;
    padding-top: 20%;
    font-size: 20px;
    }
    .col-md-3 img{
        width: 100%px;
        margin: 20px;
    }
    #portf{
        margin-left: 8%;
        margin-right: 16%;
    }
    button{
        padding-bottom: 30px;
        margin-bottom: 20px;
    }
    #MERGE0{
        width: 84%;
        margin-left: 4%;
        padding-bottom: 10px;
    }
    #MERGE1{
        width: 100%;
        margin-left: 4%;
        margin-bottom: 10px;
    }
    #comment{
        margin-left: 4%;
        width: 84%;
    }

}
@media only screen and (min-width: 825px){
    #on-img1,#on-img2,#on-img3,#on-img4,#on-img5,#on-img6,#on-img7,#on-img8{
    width: 100%;
    height: 100%;
    top: 20px;
    left: 20px;
    padding-top:30%;
    }
    .col-md-3 img{
        width: 400px;
        margin: 20px;
      }
    #portf{
        margin-left:10%;
        margin-right: 10%; 
    }
}
@media only screen and (min-width: 625px){
    #on-img1,#on-img2,#on-img3,#on-img4,#on-img5,#on-img6,#on-img7,#on-img8{
        width: 100%;
        height: 100%;
        top: 20px;
        left: 20px;
        padding-top:20%; 
        font-size: 26px;
    }
    .col-md-3 img{
        width: 400px;
        margin: 20px;
      }
    #portf{
    margin-left:6%;
    margin-right: 10%; 
    }

}


/* --------------=============THe End===============----------------- */